html {
  font-size: 18px;
}
body {
  background: #c9ccd3;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.artikelbild > img {
  width: 100%;
}
.unterText > p {
  font-size: 1rem;
}
.artikel {
  border: 2px solid black;
  margin-bottom: 15px;
}

.bild img {
  width: 100%;
}

h3 {
  font-size: 0.81rem;
  color: gray;
  margin-bottom: 20px;
  margin-top: 0px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
  margin-bottom: 2px;
}

h1,
h2 {
  font-size: 1.5rem;
  padding: 0.31rem;
}

.text {
  margin-bottom: 10px;
  padding: 0.62rem;
}

.text a,
.mail a {
  text-align: center;
  width: 150px;
  height: 30px;
  margin: auto;
  display: block;
  border: 2px solid #154c79;
  color: #154c79;
  background-color: transparent;
  font-size: 1.25rem;
  text-decoration: none;
}

  .text a:hover,
  .mail a:hover {
    color: white;
    background-color: #154c79;
  }

@media only screen and (min-width: 1050px) {
  html {
  font-size: 16px;
  }
  .artikel {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 15px;
  }

  .text {
    display: inline-block;
    max-width: 635px;
    min-height: 200px;
  }

  .bild {
    width: 333px;
    height: 222px;
    float: left;
    margin-right: 10px;
    text-align: center;
    background-color: whitesmoke;
  }

  .bild > img {
    height: 100%;
    width: auto;
  }

  .artikelbild > img {
    width: 500px;
    float: left;
    margin-right: 15px;
  }

