html {
  font-size: 16px;
}
body {
  background: #c9ccd3;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.artikelbild > img {
  width: 100%;
}

.artikel {
  border: 0.12rem solid black;
  margin-bottom: 1rem;
}

.bild img {
  width: 100%;
}

h3 {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 1.25rem;
  margin-top: 0rem;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0.12rem;
}

h1,
h2 {
  font-size: 1.5rem;
  padding: 0.31rem;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 0.62rem;
  padding: 0.62rem;
}

.text a,
.mail a {
  text-align: center;
  width: 9.3rem;
  height: 1.8rem;
  margin: auto;
  display: block;
  border: 0.12rem solid #154c79;
  color: #154c79;
  background-color: transparent;
  font-size: 1.25rem;
  text-decoration: none;
}

.text a:hover,
.mail a:hover {
  color: white;
  background-color: #154c79;
}

@media only screen and (min-width: 65.62rem) {
  .artikel {
    max-width: 62.5rem;
    margin: auto;
    margin-bottom: 0.93rem;
  }

  .text {
    font-size: 1rem;
    display: inline-block;
    max-width: 39.68rem;
    min-height: 12.5rem;
  }

  .bild {
    width: 20.81rem;
    height: 13.87rem;
    float: left;
    margin-right:  0.62rem;
    text-align: center;
    background-color: whitesmoke;
  }

  .bild > img {
    height: 100%;
    width: auto;
  }

  .artikelbild > img {
    width: 31.25rem;
    float: left;
    margin-right: 15px;
  }
}
