 body {
  background-color: #edd78e;
 }

 .artikel1, .artikel2 , .artikel3 {
  min-height: 272px;  
  text-align: left;
  margin: auto;
  width: 1000px;
  background-color: white;

 }
 .bild1, .bild2 , .bild3 {    
 border: 1px solid black;
 width: 290px;
 height: 270px;
 float: left; 
 
 }
 .bild1 > img {
 width: 100%;
 height: 100%;
 }
.bild2 > img {
 width: 100%;
 height: 100%;
 }
  .bild3 > img {
 width: 100%;
 height: 100%;
 }
h1 , h2 {
padding-top: 5px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
line-height: 10px;
font-size: 24px;
}
h3 {
  line-height: 1px ;
  font-size: 13px;
  color: gray;
  padding: 0 0 10px 0;
}
.text{
line-height: 25px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 16px;
}
a:hover {
font-weight: bold;
color: #d6ca7e;
}
a {
color: #0a0a0a;
}

.mail{
padding: 5px 0 0 0 ;
font-size: 20px;
text-align: center;

}
.mail a:hover {
color: #8c2222 ;

}
.top {
text-align: center;
}